/*-------------- form-page -----------------*/
.form-page{
	border-radius: 20px;
	background: linear-gradient(to right, rgba(57,146,210,1) 0%, rgba(76,174,128,1) 100%);
	padding: 37px 310px 40px 50px;
	color: #fff;
	position: relative;

	&::before{
		content: '';
		display: block;
		width: 100%;
		height: 100%;
		background: url(../img/bg-sphere.svg) no-repeat right center;
		position: absolute;
		top: 0;
		left: 0;
	}

	&__img{
		max-height: calc(100% + 24px);
		position: absolute;
		right: 0;
		bottom: 0;
	}

	.form-site{
		position: relative;
		z-index: 2;

		input[type="text"],
		input[type="email"],
		input[type="number"],
		input[type="password"],
		input[type="time"],
		input[type="date"],
		textarea{
			border-color: #fff;
		}

		&__polit{
			margin-top: 10px;
	
			.input-check{
				&__text{
					color: #fff;
					a{color: #fff;}
				}
			}
		}
	}
}

@media (max-width: 1439px) {
	.form-page{padding-right: 210px;}
}

@media (max-width: 1279px) {
	.form-page{
		padding: 250px 30px 30px;

		&::before{
			background-size: 90%;
			background-position: center 30px;
			left: 0;
			right: 0;
			margin: 0 auto;
		}

		&__img{
			height: 210px;
			text-align: center;
			position: absolute;
			bottom: auto;
			top: 30px;
			left: 0;
			right: 0;
			margin: 0 auto;

			img{height: 300px;}
		}
	}
}

@media (max-width: 767px) {
	.form-page{
		padding: 114px 20px 20px;

		&::before{background-position: center 8px;}

		&__img{
			top: -20px;
			img{height: 256px;}
		}
	}
}