/*-------------- form-site -----------------*/
.form-site{
	&__title{
		font-size: 3rem;
		font-weight: 700;
		margin-bottom: 24px;
	}

	&__content{
		display: flex;
		flex-wrap: wrap;
		gap: 10px;
	}

	&__item{
		width: 100%;
		position: relative;
	}

	&__item_third{width: calc(33.33% - 6.66px);}
	&__field{position: relative;}

	&__label{
		display: flex;
		align-items: center;
		height: 100%;
		width: 100%;
		padding: 0 18px;
		font-size: 1.4rem;
		line-height: 1.2;
		color: #000;
		white-space: nowrap;
		margin: 0;
		position: absolute;
		top: 0;
		left: 0;
		transition: all 0.2s ease;
	}

	textarea ~ &__label{height: 5rem;}

	input[type="text"],
	input[type="email"],
	input[type="number"],
	input[type="password"],
	input[type="time"],
	input[type="date"],
	textarea{
		display: flex;
		align-items: center;
		height: 5rem;
		width: 100%;
		font-family: var(--font-site);
		@include font(normal, normal, 1.4rem, 1.2, #000);
		padding: 0 18px;
		border-radius: 10px;
		border: 1px solid rgba(132, 159, 201, 0.2);
		outline: 0;
		margin: 0;
		background: #fff;
		box-shadow: none;
		transition: border-color 0.2s ease 0s;
	}

	textarea{
		height: 9.7rem;
		padding-top: 1.5rem;
		padding-bottom: 1.5rem;
	}

	input[type="text"]:focus,
	input[type="number"]:focus,
	input[type="email"]:focus,
	input[type="password"]:focus,
	input[type="time"]:focus,
	input[type="date"]:focus,
	textarea:focus{
		border-color: var(--color-primary);
	}

	input[type="text"]:focus ~ &__label,
	input[type="text"]:not(:placeholder-shown) ~ &__label,
	input[type="number"]:focus ~ &__label,
	input[type="number"]:not(:placeholder-shown) ~ &__label,
	input[type="email"]:focus ~ &__label,
	input[type="email"]:not(:placeholder-shown) ~ &__label,
	input[type="password"]:focus ~ &__label,
	input[type="password"]:not(:placeholder-shown) ~ &__label,
	input[type="time"]:focus ~ &__label,
	input[type="time"]:not(:placeholder-shown) ~ &__label,
	input[type="date"]:focus ~ &__label,
	input[type="date"]:not(:placeholder-shown) ~ &__label,
	textarea:focus ~ &__label,
	textarea:not(:placeholder-shown) ~ &__label{
		transform: translateY(-7px) translateX(10px) scale(0.75);
		background: #fff;
		height: auto;
		width: auto;
		padding: 0 5px;
	}

	&__field.error{
		input[type="text"],
		input[type="number"],
		input[type="email"],
		input[type="password"],
		input[type="time"],
		input[type="date"],
		textarea{
			border-color: var(--color-danger);
		}

		input[type="text"]::placeholder,
		input[type="number"]::placeholder,
		input[type="email"]::placeholder,
		input[type="password"]::placeholder,
		input[type="time"]::placeholder,
		input[type="date"]::placeholder,
		textarea::placeholder{
			color: var(--color-danger);
			font-size: 1.6rem;
			font-weight: 500;
			opacity: 1;
		}
	}

	&__btn{margin-top: 10px;}

	.error-msg{
		@include font(normal, normal, 12px, 1.5, var(--color-danger));
		margin-bottom: 3px;
	}
	
	&__polit{margin-top: 10px;}
}


.success-alert{
	max-width: 430px;
	text-align: center;

	&__title{
		font-size: 3.6rem;
		line-height: 1.2;
		margin-bottom: 2rem;
	}
}

.popup-form{
	display: none;
	width: 480px;
	max-width: 100%;
}

@media (max-width: 1279px) {
	.form-site{
		&__title{text-align: center;}
		&__item_third{width: 100%;}
	}
}

@media (max-width: 767px) {
	.form-site{
		&__title{font-size: 2.5rem;}
		&__btn{text-align: center;}
	}
}