/*-------------- hamburger -----------------*/
.ic-hamburger{
	flex-shrink: 0;
	display: inline-block;
	vertical-align: middle;
	position: relative;
	overflow: hidden;
	margin: 0;
	padding: 0;
	width: 104px;
	height: 104px;
	background: var(--color-primary);
	cursor: pointer;
	
	span {
		display: block;
		width: calc(100% - 56px);
		height: 5px;
		position: absolute;
		top: 50px;
		left: 28px;
		background: #fff;
	}
	
	span::before,
	span::after {
		content: "";
		display: block;
		width: 100%;
		position: absolute;
		left: 0;
		height: 5px;
		background: #fff;
	}
	
	span::before {top: -18px;}
	span::after {bottom: -18px;}
	
	span::before {transition: top 0.3s ease 0.3s, transform 0.3s ease 0s;}
	span::after {transition: bottom 0.3s ease 0.3s, transform 0.3s ease 0s;}
	
	&.active span {background: none;}
	
	&.active span::before {
		top: 0;
		transform: rotate(45deg);
	}
	
	&.active span::after {
		bottom: 0;
		transform: rotate(-45deg);
	}
	
	&.active{
		span{
			width: calc(100% - 8px);
			left: 4px;

			&::before,
			&::after{
				width: 100%;
			}
		}
	}

	
	&.active span::before {transition: top 0.3s ease 0s, transform 0.3s ease 0.3s;}
	&.active span::after {transition: bottom 0.3s ease 0s, transform 0.3s ease 0.3s;}
}