/*-------------- info-block -----------------*/
.info-block{
	display: flex;
	align-items: flex-end;
	justify-content: center;
	min-height: 272px;
	border-radius: 10px;
	overflow: hidden;
	background: url(../img/bg-people.jpg) no-repeat center;
	background-size: cover;
	color: #fff;
	text-align: center;
	position: relative;

	// &::before{
	// 	content: '';
	// 	width: 100%;
	// 	height: 100%;
	// 	background: linear-gradient(to bottom, rgba(19,166,240,0) 0%, rgba(28,90,224,1) 100%);
	// 	position: absolute;
	// 	top: 0;
	// 	left: 0;
	// }

	&__content{
		max-width: 220px;
		padding: 20px;
		position: relative;
	}

	&__title{
		font-size: 3rem;
		font-weight: 700;
		line-height: 0.8;
	}

	&__text{
		font-size: 1.5rem;
		font-weight: 500;
	}

	&__sale{
		font-size: 3.6rem;
		font-weight: 700;
		line-height: 1;
		margin-top: 10px;
	}
}

@media (max-width: 767px) {
	.info-block{
		justify-content: flex-start;
		min-height: 212px;
		text-align: left;
		background: linear-gradient(to right, rgba(19,166,240,1) 0%, rgba(28,91,208,1) 100%);

		&::before{
			content: '';
			width: 203px;
			height: 208px;
			background: url(../img/bg-people.png) no-repeat right bottom;
			background-size: contain;
			position: absolute;
			bottom: 0;
			right: 0;
		}

		&__content{
			padding: 44px 34px;
			position: relative;
		}
	}
}