header.header
	.header__info
		a(href="#") Сведения об образовательной организации

	ul.top-menu
		-
			var list=[
				{text:'Об академии'},
				{text:'Каталог программ'},
				{text:'Новости'},
				{text:'Документы'},
			]
		each item in list
			li.top-menu__item
				a(href="#").top-menu__link= item.text

	.header__actions
		.header__search
			+svg('ic-search','ic-search', '40', '40')

		.ic-hamburger.js-switch-header-popup
			span

	.header-popup.js-header-popup
		.header-popup__top
			form.form-search
				input(type="text", placeholder="Введите название программы для поиска...")
				button(type="submit").form-search__btn
					+svg('ic-search','ic-search', '40', '40')

		.header-popup__content
			.header-popup__main
				.main-menu.main-menu_wide
					.main-menu__title-wrap
						.main-menu__title Популярные программы

						a(href="#").main-menu__more Все программы

					.main-menu__content
						ul.main-menu-sub
							-
								var list=[
									{text:'Здравоохранение'},
									{text:'Физическая культура и спорт'},
									{text:'Культура и искусство'},
									{text:'Педагогическое образование'},
									{text:'Общепит'},
									{text:'Промышленная безопасность'},
									{text:'Экономика'},
								]
							each item in list
								li.main-menu-sub__item
									a(href="#").main-menu-sub__link
										span.main-menu-sub__icon
											+svg('ic-heart','ic-heart', '34', '29')

										span.main-menu-sub__text= item.text

										span.main-menu-sub__arr
											+svg('ic-arr-right','ic-arr-right', '26', '9')
				
				.main-menu.js-main-menu
					.main-menu__title-wrap.js-main-menu-title-wrap
						.main-menu__title Документы

						.main-menu__arr
							+svg('ic-arrow-down','ic-arrow-down', '12', '8')

					.main-menu__content.js-main-menu-content
						ul.main-menu-sub.js-main-menu-sub
							-
								var list=[
									{text:'Аккредитация'},
									{text:'Работа с юр. лицами и организациями'},
									{text:'Методические материалы'},
									{text:'Сведения об образовательной организации'},
								]
							each item in list
								li.main-menu-sub__item
									a(href="#").main-menu-sub__link
										span.main-menu-sub__text= item.text

				.main-menu.js-main-menu
					.main-menu__title-wrap.js-main-menu-title-wrap
						.main-menu__title Об академии

						.main-menu__arr
							+svg('ic-arrow-down','ic-arrow-down', '12', '8')

					.main-menu__content.js-main-menu-content
						ul.main-menu-sub.js-main-menu-sub
							-
								var list=[
									{text:'Новости и события'},
									{text:'Отзывы'},
									{text:'Оплата'},
									{text:'Контакты'},
								]
							each item in list
								li.main-menu-sub__item
									a(href="#").main-menu-sub__link
										span.main-menu-sub__text= item.text

				.info-slider-wrap
					.swiper.info-slider.js-info-slider-mobile
						.swiper-wrapper
							-
								var list=[
									{text:'Новая образовательная программа со скидкой', sale:'30%', img:'people.png'},
									{text:'Новая образовательная программа со скидкой', sale:'40%', img:'people.png'},
									{text:'Новая образовательная программа со скидкой', sale:'20%', img:'people.png'},
									{text:'Новая образовательная программа со скидкой', sale:'10%', img:'people.png'},
								]
							each item in list
								.swiper-slide.info-slider__item
									.info-slider__content
										.info-slider__text
											span.info-slider__text-accent Новая 
											|образовательная программа со скидкой
										.info-slider__sale= item.sale

									.info-slider__img
										img(src="/upload/"+item.img, alt="")

					.swiper-pagination.js-info-slider-pagination-mobile

			.header-popup__bottom
				.header-popup__address 344068, Россия, г.&nbsp;Ростов-на-Дону, пр.&nbsp;М.&nbsp;Нагибина, 33А/47

				.header-popup__footer
					.header-popup__copyright Copyright © 2024 ЮЖНЫЙ УНИВЕРСИТЕТ (ИУБиП)
					.header-popup__address 344068, Россия, г.&nbsp;Ростов-на-Дону, пр.&nbsp;М.&nbsp;Нагибина, 33А/47
					
					.social
						a(href="#", target="_blank").social__item
							+svg('ic-youtube','ic-youtube', '22', '15')

						a(href="#", target="_blank").social__item
							+svg('ic-telegram','ic-telegram', '20', '17')

						a(href="#", target="_blank").social__item
							+svg('ic-vk','ic-vk', '20', '20')

						a(href="#", target="_blank").social__item
							+svg('ic-ok','ic-ok', '20', '20')