include ../utils/_mixins
block vars

doctype html
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		if pages && pageId && pages[pageId] && pages[pageId].title
			title #{pages[pageId].title}
		else
			title ALMA
	body
		.preloader.js-preloader(style="height: 100vh;width: 100%;display: flex;align-items: center;justify-content: center;background: #fff; position: fixed;top: 0;left: 0;z-index: 20000;")
			.preloader__content
				img(src="/img/preloader.gif", alt="")
	
		.wrapper
			block sidebar
			
			main.main
				if breadcrumbs 
					+breadcrumbs(breadcrumbs)
				
				block body

			include ./_success-alert
					
		script(src="/main.js" type="module")