aside.sidebar
	.sidebar__top
		.sidebar__top-link
			a(href="#") Сведения об образовательной организации

		a(href="#").visually
			.visually__label Версия для слабовидящих

			.visually__icon
				+svg('ic-eye','ic-eye', '22', '14')

	.sidebar__content
		.sidebar-info
			.sidebar-info__logo
				img(src="/upload/logo.svg", alt="")

			.sidebar-info__content
				.sidebar-info__label Горячая линия (звонок бесплатный)

				.sidebar-info__phone
					a(href="tel:+78002226806") 8 800 222-68-06

		.sidebar__main
			.sidebar__name
				.sidebar__label Академия Профессионального Образования
				.sidebar__title Южный университет

			.sidebar__btn
				a.btn.btn_red.btn_big(href='#') Оставить заявку
				a.btn.btn_border-white.btn_big(href='#') Перейти в каталог программ
					+svg('ic-arr-right','ic-arr-right', '26', '9')

		.sidebar__bottom
			.sidebar-info
				.sidebar-info__content
					.sidebar-info__label Горячая линия (звонок бесплатный)

					.sidebar-info__phone
						a(href="tel:+78002226806") 8 800 222-68-06
						
			.partners
				.partners__item
					.partners__img
						img(src="/upload/partner1.png", alt="")

					.partners__label МИНИСТЕРСТВО НАУКИ И ВЫСШЕГО ОБРАЗОВАНИЯ РФ

				.partners__item
					.partners__img
						img(src="/upload/partner2.png", alt="")

					.partners__label
						|НМО
						br
						|МИНЗДРАВА
						br
						|РОССИИ

				.partners__item
					.partners__img
						img(src="/upload/partner3.png", alt="")

					.partners__label
						|МИНТРУД
						br
						|РОССИИ

			.sidebar__address 344068, Россия, г. Ростов-на-Дону, пр. М. Нагибина, 33А/47

			.sidebar__footer
				.sidebar__copyright Copyright © 2024 ЮЖНЫЙ УНИВЕРСИТЕТ (ИУБиП)
				
				.social
					a(href="#", target="_blank").social__item
						+svg('ic-youtube','ic-youtube', '22', '15')

					a(href="#", target="_blank").social__item
						+svg('ic-telegram','ic-telegram', '20', '17')

					a(href="#", target="_blank").social__item
						+svg('ic-vk','ic-vk', '20', '20')

					a(href="#", target="_blank").social__item
						+svg('ic-ok','ic-ok', '20', '20')

