#msg-success(style='display: none;')
	.success-alert.js-success-alert
		.success-alert__title.js-success-alert-title Ваше сообщение отправлено!
		.success-alert__text.js-success-alert-text В ближайшее время с вами свяжется наш менеджер и обсудит все детали.